---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="px-8">
    <div class="container mx-auto flex items-center justify-between py-4">
      <div>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/contact">Contact</HeaderLink>
      </div>
    </div>
  </nav>
</header>
